// Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1550px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1024px) {
      @content;
    } 
  }
  @if $breakpoint == tab {
    @media only screen and (min-width: 768px) {
      @content;
    } 
  }
  @if $breakpoint == mobile {
    @media only screen and (min-width: 375px) {
    }
  }
}

// For testing
body {
  font-family: 'Montserrat';
  margin: 0;
}

// Remove default styles
div,
p,
a,
span,
em,
strong,
img,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
td,
tr,
form,
fieldset,
label,
select,
input,
textarea,
header,
nav,
section,
article,
aside,
footer,
blockquote {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;

  font-weight: normal;
  font-size: inherit;
}
header,
nav,
section,
article,
aside,
footer {
  display: block;
}
select,
input,
textarea {
  vertical-align: middle;
}
textarea {
  vertical-align: top;
  resize: none;
}
:focus {
  outline: none;
}
input[type="submit"],
button {
  cursor: pointer;
}
img,
fieldset {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

// Global styles
.site-builder__section {
  &__image {
    img {
      width: 100%;
    // object-fit: scale-down;
  height: 100%;
    }
  }
  button {
    font-size: 16px;
    letter-spacing: -0.02em;
    cursor: pointer;
  }
  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    @include respond(tab) {
      padding: 0 30px;
    }
    @include respond(laptop) {
      padding: 0 80px;
    }

    @include respond(desktop) {
      padding: 0 180px;
      max-width: 1920px;
    }

    &__large {
      margin: 0 auto;
      max-width: 100%;
      @include respond(desktop) {
        max-width: 1920px;
      }
    }
  }
}